@use './mixin' as *;

:root {
  font-family: "Pretendard Variable Variable", Pretendard Variable, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

button {
  -webkit-appearance: none;
  appearance: none;
  font-family: "Pretendard Variable Variable", Pretendard Variable, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
  display: inline-block;
  background: none;
  border: none;
}

 body {
  width: 100vw;
  margin: 0;
  padding-top: 50px;
  background-color: #000000;
  color: #ffffff;
}


.navigation-bar {
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 63px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  z-index: 4;

  .wrap {
    max-width: 1210px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .left-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;

    .logo {
      width: 140px !important;
      height: 25px !important;
    }

    .title {
      font-size: 26px;
      line-height: 22px;
      font-weight: 600;
      color: #ffffff;
    }

    .tab {
      font-weight: 500;
      font-size: 18px;
      color: #A2A2A2;

      &:hover {
        color: #FFFFFF;
      }

      &.active {
        font-weight: 600;
        font-size: 18px;
        color: #FFFFFF;
      }

    }

  }

  .right-section {
    display: flex;
    flex-direction: row;
    gap: 12px;

    .profile-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      width: 44px;
      height: 44px;
      background-color: #2C2C2C;
      
      img {
        width: 28px;
        height: 28px;
      }
    }
  }

  .center-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;

    .title {
      font-size: 17px;
      line-height: 22px;
      font-weight: 700;
    }
  }

  img {
    width: 24px;
    height: 24px;
  }

  
  @include mobile {
    display: none;
  }
}


.menu {
  position: fixed;
  width: 230px;
  height: 100vh;
  top: 0px;
  left: -230px;
  background-color: #202020;
  z-index: 4;

  .logo {
    width: 85px !important;
  }

  .item {
    box-sizing: border-box;
    padding: 12px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .divider {
    margin: 15px 20px;
    height: 1px;
    box-sizing: border-box;
    background-color: #353535;
  }
}


  .footer {
    margin-top: 200px;
    position: absolute;
    height: 150px;
    width: 100%;
    background-color: #111111;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #A2A2A2;
    box-sizing: border-box;
  }
