:root {
  font-family: 'Pretendard', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 82px;
  background-color: #000000;
  color: #ffffff;
}


.nav-bar {
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #000000;
  z-index: 1;

  .left-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;

    .title {
      font-size: 17px;
      line-height: 22px;
      font-weight: 700;
    }

  }

  .right-section {
    display: flex;
    flex-direction: row;
    gap: 12px;

    button {
      width: 52px;
      height: 28px;
    }
  }

  .center-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;

    .title {
      font-size: 17px;
      line-height: 22px;
      font-weight: 700;
    }
  }

  img {
    width: 24px;
    height: 24px;
  }

}

.profile {
  display: flex;
  height: 10vh;

  img {
    width: 36px;
    height: 36px;
  }

  .userinfo {
    float: left;
    white-space: pre;
    width: 50%;
  }

  .login {
    margin-left: auto;
  }
}

.wallet {
  border-radius: 10px;
  background-color:gray;
  height: 15vh;

  .head {
    margin-top: auto;
    height: 70%;
  }

  .body {
    display: flex;
    height: 30%;

    .purchase-point{
      margin-left: auto;
    }
  }
}

.viewrlist {
  width: 100vw;
  height: 30vh;

  .videolist {
    overflow-x: auto;
    white-space: nowrap;

    img {
      width: 100px;
      height: 80%;
    }
  }
}