@use './mixin' as *;

@include mobile {
  .popup-wrap {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    top: 0; 
    left: 0;
    z-index: 5;

    .header {
      color: #000000;
      justify-content: space-between;
    }

    .close-btn {
      width: 24px;
      height: 24px;
    }

    .payment-btn {
      background-color: #FF3064;
      border-radius: 0px;
      width: 100%;
      height: 60px;
      position: absolute;
      bottom: 0;
      font-size: 20px;
    }
  }

  .page-wrap {
    .page-body {
      .title {
        display: none;
      }

      .series-container {
        padding: 10px 20px;
      }
    }
  }
}
