@use './mixin' as *;
@use './variables' as *;

@include mobile {
  .loading {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 10;
  }

  .popup-wrap {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    top: 0; 
    left: 0;
    z-index: 5;

    .header {
      color: #000000;
      justify-content: space-between;
    }

    .close-btn {
      width: 24px;
      height: 24px;
    }

    .payment-btn {
      background-color: $brand-color;
      border-radius: 0px;
      width: 100%;
      height: 60px;
      position: absolute;
      bottom: 0;
      font-size: 20px;
    }
  }

  .page-wrap {
    .header {
      .logo {
        padding-top:5px;
        width: 85px;

      }
    }
    .page-body {
      padding: 10px 20px;

      .title-18 {
        font-weight: 600;
        font-size: 18px;
      }

      .title {
        display: none;
      }

      .series-container {
        padding: 10px 0px;
      }

      .small-content-slider-wrap {
        .small-content-item {
          min-width: 120px;

          .poster-wrap {
            img {
              max-width: 130px;
            }
          }
        }
      }
      
    .select-mode {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      font-weight: 400;
      font-size: 15px;

      .all-check {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 9px;

      }

      .checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff10;
        border: 2px solid #A2A2A2;
        border-radius: 6px;
        box-shadow: 0px 0px 4px 2px #00000010;
        width: 26px;
        height: 26px;
        box-sizing: border-box;
  
        img {
          filter: invert(20%) sepia(2%) saturate(11%) hue-rotate(342deg) brightness(86%) contrast(83%);
          
        }
  
        &.checked {
          background-color: $brand-color;
          border: 2px solid $brand-color;

          img {
            filter: none;
          }
        }
      }
    }
    .content-container {
      display: none;
    }

    .provision {
      line-height: 22px;
      white-space: pre-line;
      margin-top: 20px;
      font-weight: 300;
      font-size: 12px;
      color: #808080;
    }
    }
  }


  .attendance-check-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;

    .my-coin-wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  
    .my-coin-text {
      font-size: 18px;
      font-weight: 600;
      color: #FFFFFF;
    }
  
    .my-coin-count {
      display: flex;
      align-items: center;
      gap: 6px;
      font-weight: 600;
      font-size: 18px;
  
      img {
        width: 30px;
        height: 30px;
      }
    }

  
  .attendance-check-background {
    display: flex;
    flex-direction: column;;
    margin-top: 20px;
    height: 300px;
    background-image: url('resources/images/m_attendance_check_background.svg');
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;

    .day-list-wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .day-list-row {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      .day-item {
        align-items: center;
        justify-content: center;
        color: #A1A9DA;
        font-weight: 400;
        font-size: 13px;
        display: flex;
        flex-direction: column;
        gap: 7px;

        .day-circle-wrap {
          display: flex;
          flex-direction: row;
          align-items: center;

          .circle {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            font-size: 14px;
            color: #A1A9DA;

            span {
              position: absolute;
            }
          }
        }

        .day-text {
          transform: translateX(-34%);
          .day-count {
            margin-right: 1.5px;
          }
        }

        .attended {
          font-weight: 500;
          color: $brand-color;
        }
        
        .day-item-divider {
          width: 14px;
          height: 2px;
          border-radius: 3px;
          margin-left: 4px;
          margin-right: 4px;
          background-color: #DCDEEA;
        }
      }
    }

    .attendance-btn {
      cursor: pointer;
      font-weight: 500;
      font-size: 16px;
      border-radius: 10px;
      padding: 15px;
      margin-top: 30px;
      width: 100%;
      background-color: $brand-color;
    }

    .disabled {
      cursor: default;
      opacity: 0.7;
    }

    
    .attendance-btn:hover {
      opacity: 0.7;
    }
  }
}
}
