.page-wrap {
  overflow-y: scroll;
  padding-bottom: 82px;
}

.main-content-item {
  margin-left: 7.5%;

  .img-wrap {
    cursor: pointer;
    position: relative;
  }

  img {
    border-radius: 16px;
    width: 86vw;
    max-width: 400px;
    height: 420px;
    object-fit: cover;
  }

  .text-wrap {
    position: absolute;
    bottom: 40px;
    left: 20px;
    right: 20px;
  }

  .main-text {
    font-weight: 700;
    font-size: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .sub-text {
    margin-top: 8px;
    font-weight: 500;
    font-size: 16px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 52px;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  padding: 0px 20px;
  box-sizing: border-box;
  gap: 4px;

  img {
    margin-top: 1px;
    width: 16px;
    height: 16px;
  }
}

.small-content-slider-wrap {
  margin-top: 30px;
  display: flex;
  flex-direction: column;

  .small-content-list {
    overflow-x: scroll;
    width: 100vw;
    display: flex;
    flex-direction: row;
    gap: 10px;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .small-content-item {
    width: 120px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    &:first-child {
      margin-left: 20px;
    }

    &:last-child {
      margin-right: 20px;
    }

    .title {
      font-size: 13px;
      font-weight: 500;
      color: #A2A2A2;
    }

    .poster-wrap {
      position: relative;
      img {
        border-radius: 6px;
        width: 120px;
        height: 150px;
        object-fit: cover;
      }

      .highlight {
        border-top-left-radius: 6px;
        border-bottom-right-radius: 6px;
        padding: 4px 7px;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: #FF3064;
        font-size: 11px;
        font-weight: 600;
      }

      .tag-list {
        position: absolute;
        box-sizing: border-box;
        left: 0px;
        bottom: 0px;
        overflow-x: scroll;
        white-space: nowrap;
        width: 120px;
        padding: 0 4px 8px 4px;
        gap: 4px;
        display: flex;
        flex-direction: row;
        align-items: center;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }   

        .tag {
          border-radius: 4px;
          padding: 3px 5px;
          background-color: #000000;
          color: #C7C7C7;
          font-weight: 600;
          font-size: 11px;
          opacity: 0.85;
        }
      }
    }
  }

  .more {
    width: 40px;
    display: flex;
    align-items: "center";
  }
}

.vertical-content-list-wrap {
  margin-top: 30px;
  
  .vertical-content-list {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 20px; 
    overflow-y: scroll;
  }

  .vertical-content-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 12px;

    .info-wrap {
      display: flex;
      flex-direction: column;
      gap: 6px;

      .tag-list {
        box-sizing: border-box;
        overflow-x: scroll;
        white-space: nowrap;
        width: 100%;
        gap: 6px;
        display: flex;
        flex-direction: row;
        align-items: center;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }   

        .tag {
          border-radius: 4px;
          padding: 2.5px 5px;
          background-color: #343434;
          color: #A2A2A2;
          font-weight: 600;
          font-size: 11px;
        }
      }

      .title {
        font-weight: 700;
        font-size: 16px;
      }

      .description {
        line-height: 19px;
        margin-top: 6px;
        color: #A2A2A2;
        font-weight: 500; 
        font-size: 13px;
      }

      .ep-step {
        right: 0px;
        bottom: 5px;
        position: absolute;
        margin-top: 9px;
        display: flex;
        justify-content: flex-end;
        font-weight: 500; 
        font-size: 13px;
      }
    }

    img {
      width: 120px;
      height: 150px;
      object-fit: cover;
      border-radius: 6px;
    }
  }
}

.popup-wrap {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  overflow-y: hidden;

  .short-form-swiper {
    width: 100%;
    height: 100%;

    .short-form {
      width: 100%;
      height: 100%;

      video {
        width: 100%;
        height: 100%;
      }
    }
  }

  .main-play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    z-index: 1;
  }

  .right-menu {
    position: absolute;
    right: 11px;
    bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
  }

  .btn-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    font-weight: 500;
    font-size: 11px;
  }

  .list-btn {
    width: 36px;
    height: 36px;
  }

  .header {
    box-sizing: border-box;
    top: 0px;
    width: 100vw;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
  
    .left-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 14px;
  
      .title {
        font-size: 14px;
        line-height: 22px;
        font-weight: 500;
      }
    }
  
    .right-section {
      display: flex;
      flex-direction: row;
      margin-left: auto;
      gap: 12px;
  
      button {
        width: 52px;
        height: 28px;
      }
    }
  
    img {
      width: 24px;
      height: 24px;
    }
  }

  .footer {
    box-sizing: border-box;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;

    .right-section {
      display: flex;
      margin-left: auto;
      flex-direction: row;
      gap: 12px;
  
      button {
        width: 52px;
        height: 28px;
      }
    }
  }

  .progress-bar {
    z-index: 1;
    box-sizing: border-box;
    position: absolute;
    bottom: 30px;
    width: 100vw;
    height: 28px;
    padding: 5px 10px;

    input {
      appearance: none;
      width: 100%;
      height: 2px;
      background: #535353;
      border-radius: 2px;
      outline: none;
      cursor: pointer;
      transition: transform 0.2s ease;
            
      &::-webkit-slider-thumb {
        appearance: none;
        width: 10px;
        height: 10px;
        background: #FF3064;
        border-radius: 50%;
        cursor: pointer;
        transition: transform 0.2s ease;
      }

      &::-moz-range-thumb {
        width: 10px;
        height: 10px;
        background: #FF3064;
        border-radius: 50%;
        cursor: pointer;
        transition: transform 0.2s ease;
      }

      &::-ms-thumb {
        width: 10px;
        height: 10px;
        background: #FF3064;
        border-radius: 50%;
        cursor: pointer;
        transition: transform 0.2s ease;
      }
    }
  }

  .profile {
    display: flex;
    height: 10%;
  
    img {
      width: 36px;
      height: 36px;
      float: left;
    }
  
    .userinfo {
      float: left;
      white-space: pre;
      width: 50%;
    }
  
    .login {
      margin-left: auto;
    }
  }

  .wallet {
    border-radius: 10px;
    background-color:gray;
    height: 20%;
  
    .head {
      margin-top: auto;
      height: 70%;
    }
  
    .body {
      display: flex;
      height: 30%;
  
      .purchase-point{
        margin-left: auto;
      }
    }
  }

  .viewrlist {
    width: 100vw;
    height: 30%;
  
    .small-content-slider-wrap {
      .header{
        position: relative;
      }
    }
  
    .videolist {
      overflow-x: scroll;
      white-space: nowrap;
  
      img {
        width: 100px;
        height: 80%;
      }
    }
  }
  
  .profile-etc {
    height: 30%;

    button {
      width: 100vw;
      height: 23%;
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
  
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      img {
        width: 26px;
        height: 26px;
        float: left;
      }
    }
  }
}

.watched-video-list-wrap {
  height: 100vh;
  margin-top: 30px;

  .vertical-content-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 20px; 
    overflow-y: scroll;
  }

  .video-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 12px;

    .info-wrap {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }

    img {
      width: 120px;
      height: 150px;
      object-fit: cover;
      border-radius: 6px;
      float: left;
    }
  }
}

.keeped-video-list-wrap {
  height: 100vh;
  margin-top: 30px;

  .vertical-content-list {
    //height: 100%;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    padding: 0 20px;
    gap: 20px; 
    overflow-x: auto;
    overflow-y: scroll;
  }

  .no-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .video-item {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 12px;

    .info-wrap {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 6px;
      float: left;
    }
  }
}