button {
  font-family: 'Pretendard';
  border: none;
  background-color: #2C2C2C;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 700;
}